.header {
  background: rgba(0,0,0, .1);
  padding: 0 20px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto;
}

.nav {
  grid-column: 2;
  display: grid;
  grid-auto-flow: column;
}

.nav > * {
  padding: 20px;
  height: 20px;
  text-decoration: none;
  color: #444;
}

.active {
  background: rgba(0,0,0, .2);

  color: #fff;
}
