.layout {
  display: grid;
  grid-template-columns: [start] auto minmax(280px, 1200px) auto [end];
  grid-template-rows:  auto 1fr auto ;
  gap: 30px 0;
  min-height: 100vh;
}

.header,
.footer{
  grid-column: start/end;
}

.main {
  grid-column: 2;
}

