.layout {
  display: grid;
  grid-template-columns: auto minmax(280px, 1200px) auto;
  grid-template-rows: auto 1fr auto;
  gap: 30px 0;
  min-height: 100vh;
}

.header,
.footer{
  grid-column: 1/end;
}

.main {
  grid-column: 2;
}

