.news {
    display: grid;
    gap: 20px;
    margin: 20px 0;
    color: #444444;
}

.newsItem {
    background: rgba(0,0,0, .1);
    box-shadow: 2px 2px 2px rgba(0,0,0, .1);

    padding: 20px;
    margin: 0 10px;
}

.header {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
}

.title {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    margin: 0 0 10px;

}
.title a {
    color: #444444;
}

.meta {
    margin-left: 20px;

}

.meta span {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.meta span:last-child {
    margin-right: 0;
}